ipython==8.22.2
itables==2.0.0
jupyter==1.0.0 
matplotlib==3.8.4
numpy==1.26.3
pandas==2.2.2
pygwalker==0.4.7
python-dotenv==1.0.1
seaborn==0.13.2
streamlit==1.33.0
plotly==5.20.0 
ipywidgets==8.1.2 
scikit-image==0.22.0 
statsmodels==0.14.1 
imageio==2.34.0 
st-pages==0.4.5


  
